<h1>ブログ一覧</h1>
<% @blogs.each do |blog| %>
  <li><%= blog.title %></li>
  <li><%= blog.content %></li>
  <li><%= link_to '詳細へ', blog_path(blog) %></li>
  <li><%= link_to '編集', edit_blog_path(blog) %></li>
<% end %>
